
$menu-bg-color: rgb(4, 32, 56);
$menu-bd-color: rgb(7, 36, 59);
$menu-ft-color: #FFFFFF;

$section-ft-color: $menu-bg-color;

$sector-bd-color: #FFFFFF;
$sector-ft-color: #FFFFFF;

$utility-bg-color: rgb(255, 255, 255);;
$utility-ft-color:rgb(7, 36, 59);
$utility-header-ft-color: #fff;
$utility-header-bg-color: rgb(4, 32, 56);

$employee-ft-color-name: $menu-bd-color;
$employee-ft-color-function: #555;
