// @import "../../../node_modules/materialize-css/sass/materialize";
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import "./__variables.scss";

* {
	font-family: 'Open Sans', sans-serif;
}

/*Header*/

#header-menu {
	#header {
		background: $menu-bd-color;
		color: $menu-ft-color;
		padding-top: 70px;

		h4 {
			font-weight: 100;
		}

		.header-element {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			.header-element-logo {
				width: 20%;
				text-align: center;

				img {
					display: inline-block;
					max-width: 80%;

				}
			}
			.header-elemente-content {
				width: 80%;
			}
		}

		@media only screen and (max-width: 800px) {
			.header-element {
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;
				.header-element-logo {
					width: 100%;
					text-align: center;

					img {
						display: inline-block;
					}
				}
				.header-elemente-content {
					width: 100%;
					text-align: center;
				}
			}
		}
	}

	#menu {
		background: $menu-bg-color;
		color: $menu-ft-color;
		box-shadow: none;
		position: fixed;
		z-index: 2;
		.v-btn__content {
			color: $menu-ft-color;
		}

		.v-toolbar__title span{
			display: block;
			font-weight: bold;
			font-size: 14px;
		}

		@media only screen and (max-width: 700px) {
			#menu-itens {
				display: none;
			}
		}
	}
}


#side-menu {
  background: $side-menu-bg-color;
  box-shadow: none;
  border: 0px;

  .v-list.theme--light {
    background: none;
    .v-list__tile {
      color: #fff;
      i {
        color: #fff;
      }
      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}


.theme--light.v-navigation-drawer, .theme--light .v-navigation-drawer {

	.v-list__tile {
		color: $menu-bd-color;

		.v-list__tile__action {
			i {
				color: $menu-bd-color;
			}
		}
	}
}
.close-side {
	cursor: pointer;
}
/*Fim Header*/

/*Section*/
.section {
	padding: 50px 0px 20px 0px;
	.section-title {
		margin-bottom: 20px ;
		margin-top: 20px ;
		h3 {
			color: $section-ft-color;
			font-size: 28px;
		}
	}
}


.manutencao {
	background-image: linear-gradient(45deg,rgb(4, 32, 54), rgba(0, 0, 0, .7)), url('../../assets/images/setor-manutencao.png');
	background-size: cover;
	background-repeat: no-repeat;
}
.redes {
	background-image: linear-gradient(45deg, rgb(4, 32, 54), rgba(0, 0, 0, .7)), url('../../assets/images/setor-redes.png');
	background-size: cover;
	background-repeat: no-repeat;
}

.sistemas {
	background-image: linear-gradient(45deg, rgb(4, 32, 54), rgba(0, 0, 0, .7)), url('../../assets/images/setor-sistemas.png');
	background-size: cover;
	background-repeat: no-repeat;
}


/*Fim da Section*/
/*Section de Setores*/
.setor {
	color: $sector-ft-color;
	min-height: 210px;
}
/*Fim Section de Setores*/

/*Section de Utilitários*/

#utilitarios {

  background: $background-gradient2, url('../images/banner.png');
  background-attachment: fixed;
  background-size: 100%;
	background-color: rgb(147, 190, 255);
	position: relative;

  .section-title {
    h3 {
      color: $employee-ft-color-function;
    }
    color: $employee-ft-color-name;
  }
	&::after {
		content: '';
		width: 100%;
		height: 10px;
		background: #222;
		bottom: -10px;
		position: absolute;
		background: linear-gradient(to right, rgb(4, 32, 56), rgb(20, 87, 143), rgb(94, 153, 201),  rgb(101, 221, 201));
	}
	&::before {
		content: '';
		width: 100%;
		height: 10px;
		background: #222;
		top: -10px;
		position: absolute;
		background: linear-gradient(to left, rgb(4, 32, 56), rgb(20, 87, 143), rgb(94, 153, 201),  rgb(101, 221, 201));
	}

}

.utility {
		.v-card__text {
			min-height: 110px;
		}

		.v-card__actions {
			.btn-utility{
				background: linear-gradient(165deg, #0f3866 , #0f4a8f, #317ace) ;
				color: #fff;
				font-weight: bold;
			}
		}
}


/*Fim Section de Utilitários*/

/*Section do Catalogo de Serviços*/
.filtros {
	background: $sector-bd-color;
	padding: 20px 20px;
	border-bottom: 2px solid rgb(240, 240, 240);

}
/*Fim Section do Catalogo de Serviços*/

/*Section da Equipe*/
#equipe {
	padding: 20px 0px;;
	background-color: #042038;
  background: $background-gradient, url('../images/banner.png');
	background-attachment: fixed;
	background-size: 100%;
	position: relative;

  .section-title {
    h3 {
      color: $employee-ft-color-function;
    }
    color: $employee-ft-color-name;
  }

	&::after {
		content: '';
		width: 100%;
		height: 10px;
		top: -10px;
		position: absolute;
		background: linear-gradient(to right, rgb(4, 32, 56), rgb(20, 87, 143), rgb(94, 153, 201),  rgb(101, 221, 201));
	}
	&::before {
		content: '';
		width: 100%;
		height: 10px;
		bottom: -10px;
		position: absolute;
		background: linear-gradient(to left, rgb(4, 32, 56), rgb(20, 87, 143), rgb(94, 153, 201),  rgb(101, 221, 201));
	}
}
.employee {
	margin-bottom: 20px;
	.employee-avatar {
		text-align: center;
	}

	.employee-description {
		color: $employee-ft-color-name;
		padding: 0px 5px;
		position: relative;
		display: block;
		text-align: center;
		h4 {
			color: $employee-ft-color-function;
		}

		// .name {
		// 	font-size: 18px;
		// 	display: block;
		// 	margin-top: 30px;
		// }
		//
		// .function {
		// 	position: absolute;
		// 	bottom: 25px;
		// 	font-size: 14px;
		// 	display: block;
		// 	font-weight: bold;
		// 	color: $employee-ft-color-function;
		// }
	}
}
/*Fim Section da Equipe*/

/*Footer*/
/*Fim Footer*/
